<div class="row">
  <div class="articles">
    <h1 style="text-align: center;">Listing all articles</h1>

    <div class = "col-md-6 col-md-offset-3 center">
      <%= render 'article', obj: @articles %>
    </div>
  </div>
</div>