<div class="articles">
  <h1>Listing all articles</h1>

  <p><%= link_to "Create new article", new_article_path %></p>

  <table>
    <tr>
      <th>Title</hr>
      <th style="padding-left: 40px;">Description</hr>
    </tr>
  
    <%= render 'article', obj: @articles %>
  </table>
</div>