<h1 align="center"><%= User.count %> User(s)</h1>

<% @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4" style="background-color: #87D37C;">
        <ul class="user-list">
          <li class="article-title" style="font-weight: bold;"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          <li><span class="label label-danger"><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %></span>
        </ul>
      </div>
    </div>
  </ul>
<% end %>