<div class="jumbotron">

  <h1>D's Blog!</h1>

  <%= link_to "Sign Up", "#", class: "btn btn-primary" %>

</div>

<div style="margin:0 auto;">
  
  <!--               INSERT SVG AS AN IMAGE TAG 
  <%= image_tag("executive-increase-sales-icon.svg", :alt => "icons", size:"500x300") %> -->
  
  <!--               INSERT SVG USING INLINE TAG FROM SVG GEM
  <%= inline_svg("executive-increase-sales-icon.svg", class: '', nocomment: true) %> -->
  
  <!-- <%= link_to "Animate", "#", class: "animate btn btn-primary" %> 
  
       <small><em>[ Hover to view chart data ]</em></small> -->
  
  <!--  render 'layouts/svg_icon' 
        render 'layouts/mw_chart' -->
        
  <svg height="100" width="100">
    <text class="written-1" x="0" y="15" fill="white">I</text>
    <text class="written-2" x="0" y="15" fill="white">L</text>
    <text class="written-3" x="0" y="15" fill="white">O</text>
    <text class="written-4" x="0" y="15" fill="white">V</text>
    <text class="written-5" x="0" y="15" fill="white">E</text>
    <text class="written-6" x="0" y="15" fill="white">S</text>
    <text class="written-7" x="0" y="15" fill="white">V</text>
    <text class="written-8" x="0" y="15" fill="white">G</text>
  </svg>
  

</div>