<div class="jumbotron">

  <h1>D's Blog!</h1>

  <%= link_to "Sign Up", "#", class: "btn btn-primary" %>

</div>

<div style="margin:0 auto;">
  
  <!--               INSERT SVG AS AN IMAGE TAG 
  <%= image_tag("executive-increase-sales-icon.svg", :alt => "icons", size:"500x300") %> -->
  
  <!--               INSERT SVG USING INLINE TAG FROM SVG GEM
  <%= inline_svg("executive-increase-sales-icon.svg", class: '', nocomment: true) %> -->
  
  <!-- <%= link_to "Animate", "#", class: "animate btn btn-primary" %> 
  
       <small><em>[ Hover to view chart data ]</em></small> -->
  
  <!--  render 'layouts/svg_icon' 
        render 'layouts/mw_chart' -->
        
</div>