$navbar-default-bg: #6C7A89;
$navbar-default-link-color: #ECF0F1;
$navbar-default-link-hover-color: #A2DED0;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/*  ***************** 
    *ELEMENT STYLING* 
    *****************  */
  a {
    color: #000000;
  }
  
  a:hover {
    color: #FFFFFF;
  }
  
  a.delete_action {
    color: #FF0000 !important;
  }
    
  td, th {
    padding: 5px;
  }
  
  .footer {
    background-color: #4183D7;
    padding: 25px 50px 20px;
    margin-top: 50px;
  }

  .footer a:hover {
    color: #A2DED0;
  }
  
  .footer a {
    color: #FFFFFF;
  }
  
  .footer small {
    float: left;
  }
  
  .footer ul {
    float: right;
    list-style: none;
  }
  
  .footer ul li {
    float: left;
    margin-left: 10px;
  }


/*  ************ 
    *ID STYLING* 
    ************  */

  #logo {
    color: #ECECEC;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  
  #logo:hover {
    color: #A2DED0;
    text-decoration: none;
  }


/*  *************** 
    *CLASS STYLING* 
    ***************  */
    
  .articles {
    /* background-image: asset-url("sage-section-2-photo.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100% 100%; */
    color: #000000;
    font-size: 16px;
  }
  
  .articles .glyphicon {
    padding: 6px;
  }
  
  .articles a {
    color: #87D37C;
    font-weight: bold;
  }
  
  .user-articles a {
    color: #87D37C;
    font-weight: bold;
  }
  
  .user-articles .glyphicon {
    padding: 6px;
  }
  
  .articles a:hover {
    color: #59ABE3;
  }
  
  .articles h1 {
    color: #59ABE3;
  }
  
  .center a:hover {
    color: #A2DED0;
  }
  
  .center a:link {
    color: #141414;
  }
  
  .center h1 {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
  }
  
  .error-msg {
    background: none !important;
    background-color: #d9534f !important;
  }
  
  .jumbotron {
    background-image: asset-url("blog-photo.jpg");
    color: #ECF0F1;
    max-height: 275px;
    text-align: center;
  }
  
  .jumbotron h1 {
    text-shadow: 4px 4px 4px #96281B;
  }

  .mw_svg {
    max-height: 215px;
  }
  
  .user-list li, ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
  }