<div class="row footer">

  <small>
    Copyright &copy; 2017 | 
    <span style="font-weight: bold; color: #FFFFFF;">Square Your Work.</span>
    <span>All rights reserved.</span>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  
</div>